.preCode div {
  margin: 20px 0;
  position: relative;
}
.preCode pre,
.preCode pre :global(code),
.preCode pre :global(code[data-lang]:before) {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.preCode pre {
  border-radius: 10px;
  display: block;
  font-size: 14px;
  hyphens: none;
  line-height: 1.8;
  margin: 0.5em 0px;
  overflow: auto;
  padding: 0.8em 1em;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}
.preCode pre:focus {
  outline: none;
}
.preCode pre :global(code) {
  background: none;
  padding: 0;
}
.preCode pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  overflow: visible;
}
.preCode pre::-webkit-scrollbar-thumb {
  background: #d32f2fe1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.preCode pre::-webkit-scrollbar-track {
  background: transparent;
}
.preCode pre :global(code[data-lang]:before) {
  border-radius: 4px;
  content: attr(data-lang);
  font-size: 12px;
  padding: 2px 8px;
  position: absolute;
  right: 8px;
  text-transform: uppercase;
  top: -11px;
}
.inlineCode {
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.8;
  padding: 3px 6px;
  overflow-wrap: break-word;
}
.leftNumbers {
  float: left;
  font-size: 14px;
  margin-right: 10px;
}
