.details :global(summary) {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
.details {
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

.details[open] {
  padding: 0.5em;
}
.details[open] summary {
  margin-bottom: 0.5em;
}
.select {
  border-radius: 4px;
  padding: 0.5em;
}
