.imageContainer :global(img) {
  max-height: calc(100vh - 10vh);
  max-width: calc(100vw - 3rem);
}
.details *:focus {
  outline: none;
  outline-style: none;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: calc(100vw - 30px);
  max-height: calc(100vh - 20px);
  position: relative;
  width: 100%;
}
.details {
  border: unset;
  display: block;
  overflow: hidden;
  padding: 0;
  max-width: fit-content;
}
.details[open] {
  padding: 0;
}
.details[open] summary {
  border: unset;
}
.details summary {
  border: unset;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 100%;
}
.details summary::-webkit-details-marker {
  display: none;
}
.details summary::marker {
  display: none;
}
.details summary :global(img) {
  border-radius: 10px;
  cursor: pointer;
  max-height: 100vh;
  max-width: 100%;
}
.details :global(details-dialog) {
  box-sizing: border-box;
  height: 100vh;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 999;
}
.details[open] :global(details-dialog > .bg) {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 5vh 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
.details:focus-within,
.details:active {
  outline-style: dashed;
  outline-width: 2px;
  outline-color: #b50000;
}
@media screen and (max-width: 450px) {
  .details :global(details-dialog) {
    padding: 5vh 1rem;
  }
}

.video {
  display: block;
  clip-path: inset(0% 0% 0% 0% round 10px);
  margin: auto;
  max-width: 99%;
}
