.container img {
  width: 100%;
  transition: ease 0.3s;
}
.container img:hover {
  position: static;
  transform: scale(1.1);
}

.link {
  color: #e74c3c;
}
.link:hover {
  text-decoration: underline;
  color: #e74c3ccb;
}

.table {
  display: table;
  width: 100%;
}
