.footer {
  position: relative;
  background: #f2f2f2;
}

.footer {
  display: flex;
  align-items: center;
}
.footer a {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .GenericBlog {
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin: 15px;
  }
}
@media screen and (min-width: 425px) and (max-width: 620px) {
  .container {
    margin: 1rem 30px;
    max-width: 510px;
  }
}
@media screen and (min-width: 620px) and (max-width: 768px) {
  .container {
    max-width: 510px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin: 1rem auto;
    max-width: 640px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 760px;
  }
  .footer {
    height: 300px;
    margin-top: -230px;
  }
}
