.footer div {
  display: flex;
  align-items: center;
}
.p {
  margin: 0;
  font-size: 14px;
}
.footer {
  grid-area: footer;
  margin-bottom: 20px;
}
.footer :global(button) {
  background: none;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  height: 30px;
  margin: 9px;
  padding: 0;
  width: 30px;
}
.footer :global(button:hover) {
  filter: brightness(1.1);
}
.footer :global(h2) {
  font-size: 16px;
  margin: 0;
}
.footer :global(section) {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 528px) {
  .footer :global(section div) {
    display: block;
    margin-top: 15px;
  }
  .footer :global(section div button:nth-of-type(1)) {
    margin-left: -10px;
  }
}
@media screen and (max-width: 876px) {
  .footer :global(button) {
    margin: 0px;
    padding: 9px;
  }
}
@media print {
  .footer {
    display: none;
  }
}
