.div {
  margin-bottom: 10px;
}
.div :global(a) {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 3px;
}
.p {
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: unset;
  margin: 0 0 0 5px;
}
.div :global(a:focus),
.div :global(a:hover) {
  border-radius: 3px;
}
.div :global(div) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 0;
}
.div :global(h2) {
  font-size: 1em;
  font-weight: 600;
  margin: 1em 0;
}
.div :global(img) {
  clip-path: inset(0% 0% 0% 0% round 10px);
  height: 40px;
  width: 40px;
}
@media screen and (max-width: 400px) {
  .div :global(div) {
    display: block;
  }
}
@media screen and (max-width: 876px) {
  .div :global(a) {
    margin: 13.5px 5px 13.5px 0;
  }
}
