.nav {
  grid-area: toc;
}
.nav :global(a) {
  display: block;
  width: fit-content;
}
.nav a:hover,
.nav a:focus {
  text-decoration: none;
}
.nav h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 43px;
}
.nav li {
  list-style: none;
  margin: 10px 0;
}
.nav section {
  position: sticky;
  top: 0px;
}
