.section a {
  margin: 0 0 3px 0;
  width: fit-content;
}
.section div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.section h2 {
  line-height: 43px;
  font-size: 1em;
  font-weight: 600;
}
@media screen and (max-width: 876px) {
  .section a {
    margin: 0;
    min-width: 48px;
    padding: 13.5px 5px 13.5px 0;
  }
}
