.aside :global(.twemoji) {
  height: 1.1em;
  margin: 0 2px;
  vertical-align: -3px;
}
.aside {
  border-radius: 12px;
  height: 300px;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.aside a {
  display: inline-flex;
  box-sizing: border-box;
  margin: 0 10px;
}

.aside img[alt="Marco Madera"] {
  clip-path: circle(50% at 50% 50%);
  height: 80px;
  width: 80px;
}
.aside p {
  margin: 1em 0;
}
.aside picture {
  display: inline-flex;
}
