.header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex;
  margin: 8px;
}
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
}
.header :global(a),
.header :global(nav a) {
  color: inherit;
}
.header :global(img) {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}
.header :global(nav) {
  align-items: center;
  display: flex;
}
.header :global(nav a) {
  display: inline-block;
  margin: 9px 5px;
  min-width: fit-content;
}
.header :global(nav a:hover),
.header :global(nav a:focus) {
  animation: text-pop-up-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.header :global(picture) {
  display: inline-flex;
}
.header :global(span) {
  font-size: 1.17em;
  font-weight: 400;
  margin: 0;
}
@keyframes text-pop-up-top {
  0% {
    text-shadow: none;
    transform: translateY(0);
    transform-origin: 50% 50%;
  }
  100% {
    transform: translateY(-2px);
    transform-origin: 50% 50%;
  }
}
@media print {
  .header {
    justify-content: center;
  }
  .header :global(nav) {
    display: none;
  }
}
