.GenericBlog {
  display: grid;
  grid-template-columns: 240px auto 240px;
  grid-gap: 2em;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 50px;
}
.GenericBlog p {
  text-align: justify;
}

.GenericBlog h1 {
  font-size: 1.8em;
}
.GenericBlog > aside {
  order: 1;
}
.article {
  order: 2;
}
.rightAside {
  order: 3;
}
.GenericBlog a {
  /* text-decoration: underline; */
  color: #e74c3c;
}
.GenericBlog header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.GenericBlog a:hover {
  text-decoration: underline;
  color: #e74c3ccb;
}

.GenericBlog span {
  font-family: var(--general-font-family);
}
.GenericBlog code span {
  font-family: monospace;
}

.GenericBlog ol,
.GenericBlog ul {
  padding: 0;
}

.GenericBlog ul li {
  list-style-type: disc;
}
.GenericBlog ol li {
  list-style-type: decimal;
}
.GenericBlog ol li,
.GenericBlog ul li {
  list-style-position: outside;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-inline-start: 0;
  margin-block-end: 0;
  padding: 0 20px 0 0;
  margin-left: 20px;
}

.GenericBlog img {
  display: block;
  margin: auto;
  max-width: 99%;
  border-radius: 10px;
  transition: ease 0.3s;
}
.GenericBlog img:hover {
  position: static;
  transform: scale(1.1);
}

.GenericBlog img[alt$="100px"] {
  display: block;
  height: 100px;
}
.GenericBlog img[alt$="ajustar izquierda 50px"] {
  display: block;
  height: 50px;
  float: left;
  margin: 10px;
}

.GenericBlog img[alt$="ajustar derecha"] {
  display: block;
  float: right;
  margin: 10px;
}
.GenericBlog img[alt$="ajustar derecha 200px"] {
  display: block;
  float: right;
  height: 300px;
  margin: 10px;
}

.GenericBlog img[alt$="100px"] {
  display: block;
  height: 100px;
}
.GenericBlog pre {
  border-radius: 10px;
}
.GenericBlog pre code {
  line-height: 20px;
  font-size: 14px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.navBtn {
  border: 3px solid #e74c3ccb;
  background: white;
  padding: 7px 10px;
  font-size: 14px;
  text-align: center;
  align-self: stretch;
}
.navBtn p {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.tags {
  display: block;
}
@media screen and (min-width: 0px) {
  .GenericBlog {
    grid-template-columns: 100%;
  }
  .GenericBlog > aside {
    width: 100%;
    order: 1;
  }
  .article {
    width: 100%;
    order: 2;
  }
  .article {
    max-width: 100%;
  }
  .navBtn {
    width: 150px;
  }
}
@media screen and (min-width: 400px) {
  .navBtn {
    width: 170px;
  }
}
@media screen and (min-width: 500px) {
  .article {
    max-width: auto;
  }
  .GenericBlog {
    grid-template-columns: auto;
  }
  .GenericBlog > aside {
    width: auto;
    order: 1;
  }
  .article {
    width: auto;
    order: 2;
  }
  .navBtn {
    width: 230px;
  }
}
@media screen and (min-width: 1024px) {
  .article {
    max-width: 640px;
  }
  .GenericBlog {
    grid-template-columns: 240px auto 240px;
  }
  .GenericBlog > aside {
    order: 1;
  }
  .article {
    order: 2;
  }
  .rightAside {
    order: 3;
  }
  .article {
    max-width: 510px;
  }
  .navBtn {
    width: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .article {
    max-width: 760px;
  }
}
