.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: calc(100vh - 120px);
}

.title {
  text-align: center;
  font-size: 100px;
}

.message {
  text-align: center;
  font-size: 30px;
}
