html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
      rgba(145, 173, 192, 0.1) 1px,
      transparent 1px
    ),
    radial-gradient(rgba(111, 163, 197, 0.1) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main,
footer {
  float: left;
  width: 800px;
  margin-left: 100px;
}

:root {
  --navbar-color: #aaaaaa;
}
