.container p {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.title {
  text-align: center;
}
.link {
  color: #e74c3c;
}
.link:hover {
  text-decoration: underline;
  color: #e74c3ccb;
}

.input {
  margin: 0 auto 40px auto;
  width: 100%;
  display: block;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.514);
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin: 15px;
  }
}
@media screen and (min-width: 425px) and (max-width: 620px) {
  .container {
    margin: 1rem 30px;
    max-width: 510px;
  }
}
@media screen and (min-width: 620px) and (max-width: 768px) {
  .container {
    max-width: 510px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin: 1rem auto;
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
